/* Avatar.tsx */

.avatar{
  border: 2px solid black;
  border-radius: 20px;
  background-color: aliceblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
