/* Dashboard */

.mainContent{
  padding: 1rem;
}

.dashboard {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 240px 1fr;
  margin: 0px auto;
  max-width: 1200px;
}

.header {
  grid-column: 1 /-1;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.658);
  margin: 2rem 1rem;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.header > span {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 20px;
  font-family: 'Cormorant', sans-serif;
}

.headerActions{
  display: flex;
  align-items: center;
  gap:20px;
}

.layout{
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.sidebarLeft {
  border-right: 1px solid rgb(223, 211, 211);
  margin-right: 5px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 230px;
}

.sidebarLeft > button{
  background-color: var(--buttons);
  color: var(--text);
  border: none;
  border-radius: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 4px;
  padding: 0.5rem 1em;
  width: 100%;
}

@media (max-width: 600px){
  .sidebarLeft {
    display: none;
  }
}