/* PostFeed*/
.loadMoreBtn {
  margin-top: 20px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--buttons);
  color: var(--text);
  border: none;
  border-radius: 8px;
  width: 140px;
  align-self: center;
}


/* Post.tsx */
.post{
  max-width: 640px;
  background-color: var(--posts);
  color: black;
  border-radius: 8px;
  padding: 1.2rem;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.postHeader{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.postUsername {
  font-weight: bold;
}

.postContent {
  line-height: 1.6;
}

.postDate {
  font-size: 0.75rem;
  opacity: 0.7;
}
.postActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.8rem;

}
.postActions > button {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.postActions button:hover {
  transform: translateY(-1px);
  cursor: pointer;
}

/* PostSkeleton */

.postSkeleton {
  color: transparent;
  pointer-events: none;
}

.skeleton {
  background: linear-gradient(
  90deg,
  #eae8e2,
  #dcd8cf,
  #eae8e2
);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.postAvatar.skeleton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.postUsername.skeleton {
  width: 30%; 
  height: 14px;
  border-radius: 34px;
}

.postContent.skeleton {
  height: 40px;
  margin-left: 12px;
  border-radius: 6px;
  width: 300px;
}

.postActions .skeleton {
  width: 80px; 
  height: 32px;
  border-radius: 6px;
}

/* need to update the skeleton sizing */