/* Landing.tsx */

.header__actions{
  display: flex;
  justify-content: end;
  margin: 2rem;
  gap: 8px;
}

button {
  width: 100px;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #3b3b5e;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.carousel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem;
}

h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0px;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

/* GameCard.tsx */

.gamecard{
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 24px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gamecard:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.5);
}

.gamecard img{
  width: 100%;
  height: 100%;
  filter: grayscale(10%) brightness(0.7);
  transition: filter 0.3s ease;
  display: block;
  object-fit: cover;
}

.gamecard:hover img {
  filter: grayscale(0%) brightness(0.9);
}

.gamecard__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
}

.gamecard__label {
  padding: 0.45rem 0.9rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(233, 219, 219);
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
}

.gamecard:hover .gamecard__label{
  transform: scale(1.03);
  background: rgba(0,0,0,65);
}