.profileContainer {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(44, 32, 25, 0.774);
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.2rem;
}

.headerTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerTop button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.headerTop svg {
  width: 18px;
  height: 18px;
  color: white;
}


.username {
  font-weight: bold;
  font-size: 1.1rem;
}

.status {
  font-size: 0.9rem;
  color: #a8a5a5;
}

.meta {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
  color: #c2b7b7;
}
