.dropdownBtn{
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdownMenu{
  position: absolute;
  top:60px;
  right: 20px;
  background-color: var(--bg);
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  width: 100%;
  max-width: 120px;
  height: 100px;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.dropdownSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
}