#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Avatar.tsx */

.avatar{
  border: 2px solid black;
  border-radius: 20px;
  background-color: aliceblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card.tsx */
.post{
  max-width: 640px;
  background-color: var(--posts);
  color: black;
  border-radius: 8px;
  padding: 1.2rem;
  margin-bottom: 10px;
}

.post__header{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post__username {
  font-weight: bold;
}

.post__content {
  margin: 0.5rem;
  line-height: 1.6;
}

.post__date {
  font-size: 0.75rem;
  opacity: 0.7;
}
.post__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.8rem;

}
.post__actions > button {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.post__actions button:hover {
  transform: translateY(-1px);
  cursor: pointer;
}

/* PostFeed*/

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.load-more-btn {
  margin-top: 20px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--buttons);
  color: var(--text);
  border: none;
  border-radius: 8px;
  width: 140px;
  align-self: center;
}

/* Dashboard */
.page {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 240px 1fr;
}

.header {
  grid-column: 1 /-1;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.658);
  margin-bottom: 4px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.header > span {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 20px;
  font-family: 'Cormorant', sans-serif;
}

.header__actions{
  display: flex;
  align-items: center;
  gap:20px;
}

.layout{
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.sidebar__left {
  border-right: 1px solid rgb(223, 211, 211);
  margin-right: 5px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 230px;
}

.sidebar__left > button{
  background-color: var(--buttons);
  color: var(--text);
  border: none;
  border-radius: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0.5rem 1em;
  width: 100%;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}