#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Avatar.tsx */

.avatar{
  border: 2px solid black;
  border-radius: 20px;
  background-color: aliceblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card.tsx */
.card{
  max-width: 400px;
  background-color: antiquewhite;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.card__header, .card__footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px;
}

.card__date {
  font-size: 10px;
}


/* Dashboard */

.dashboard__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;

}


/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}