/* App.tsx */

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1;
}

.footer{
  padding: 2rem;
  width: 100%;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}