:root {
  --bg: #292530;
  --posts: #e7e4de;
  --buttons: #e7dfc6;
  --text: #292530;
  font-family: Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[data-theme="light"]{
--bg: #e9e2e2;
}

body{
  margin: 20px;
  max-width: 1600px;
  display: flex;
  align-items: center;
}